<!DOCTYPE html>
<html>
<head>
    <title>О нас</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Навигация</h1>
    <nav>
    <a href="/">Главная</a> |
    <a href="/about">О нас</a> |
    <a href="/contact">Контакты</a>
    </nav>
    <h1>О нас</h1>
    
    
    Полное название университета – Федеральное государственное бюджетное образовательное учреждение высшего образования «Сибирский государственный университет телекоммуникаций и информатики». Сокращённо - СибГУТИ. Основан в 1953 году.

    Университет находится в Новосибирске. Является базовым образовательным комплексом Минцифры в регионе, крупным научным центром по изучению проблем связи и развитию телекоммуникационных технологий.

    СибГУТИ оснащён парком техники, которая позволяет готовить специалистов практически для всех отраслей связи и телекоммуникаций: проектирование, разработка, строительство и эксплуатация различных систем. В университете организованы научные учебные центры, лаборатории и кафедры ряда известных российских и зарубежных фирм, работающих в сфере инфокоммуникаций

    Миссия университета – предоставление всего комплекса возможных образовательных услуг в сфере телекоммуникаций и информатики на основе развития учебно-научно-инновационного университетского комплекса, обеспечивающего непрерывную многоуровневую профессиональную подготовку и переподготовку специалистов мирового уровня, а также научно-инновационную деятельность в области инфокоммуникационных технологий, направленную на социально-экономическое и культурное развитие стратегически важного региона Урала, Сибири и Дальнего Востока и вхождения России в глобальное информационное общество.

        

</body>
</html>