<!DOCTYPE html>
<html>
<head>
    <title>Контактная информация</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Навигация</h1>
    <nav>
    <a href="/">Главная</a> |
    <a href="/about">О нас</a> |
    <a href="/contact">Контакты</a>
    </nav>
    <h1>Контактная информация</h1>
    <form action="/submit" method="post">
        <p>
            <a href="https://sibsutis.ru/">Сибгути</a>
        </p>
        <p>
            <label>Email:info@sibsutis.ru</label><br>
        </p>
        <p>
            <label>Группа: ИКС-433</label><br>
        </p>
        <p>
            <label>ФИО: Рудометов Даниил Романович</label><br>
        </p>
    </form>
</body>
</html>